---
import Layout from "../layouts/Layout.astro";
import Calendar from "../components/Calendar.astro";
---

<Layout title="Баарыбиршоп Аманя">
  <main>
    <div class="head">
      <h2>Баарыбиршоп "Аманя"</h2>
    </div>
    <Calendar />
  </main>
</Layout>

<style>
  .head {
    width: 100%;
    height: 10vh;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(
      to right,
      #e965ad,
      #f15787,
      #ed525f,
      #df5737
    );
  }
  main {
    display: flex;
    height: 100vh;
    position: relative;
  }

  .amanya {
    object-fit: cover;
  }
  h2 {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
</style>
