---
import Layout from "../layouts/Layout.astro";
import Calendar from "../components/Calendar.astro";
---

<Layout title="Баарыбиршоп Аманя">
  <main>
    <h1 class="head">Баарыбиршоп Аманя</h1>
    <div class="queues">
      <Calendar />
      <Calendar title="Завтра" />
      <Calendar title="Послезавтра" />
    </div>
  </main>
</Layout>

<style>
  .head {
    margin: 0;
    width: 100%;
    height: 10vh;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(to right, #e965ad, #f15787, #ed525f, #df5737);
  }
  main {
    height: 100vh;
  }

  .queues {
    display: flex;

    background: white;
    gap: 20px;

    overflow-y: auto;
  }

  .amanya {
    object-fit: cover;
  }
  h2 {
    color: white;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
</style>
