---
import Layout from "../layouts/Layout.astro";
import Calendar from "../components/Calendar.astro";
---

<Layout title="Баарыбиршоп Аманя">

  <main>
    <div class="queues">
      <Calendar title="сегодня" />
      <Calendar title="завтра" />
      <Calendar title="после-" />
    </div>
  </main>
</Layout>

<style>
  :root {
    --wrapper-size: 7rem;
    --aman-size: 4rem;
    --difference-of-sizes: calc(var(--wrapper-size) - var(--aman-size));
  }
  main {
    height: 100%;
  }

  .queues {
    display: flex;

    background: white;
    gap: 20px;

    overflow-x: auto;
    overflow-y: hidden;
  }
  h2 {
    color: white;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
</style>
