---
import Layout from "../layouts/Layout.astro";
import Calendar from "../components/Calendar.astro";
---

<Layout title="Баарыбиршоп Аманя">
  <header class="head">
    <div class="head-inner">
      <h1>Барбер</h1>
      <img alt="фотка" src="amanya.gif" />
      <h1>Аманя</h1>
    </div>
  </header>
  <main>
    <div class="queues">
      <Calendar title="сегодня" />
      <Calendar title="завтра" />
      <Calendar title="послезавтра" />
    </div>
  </main>
</Layout>

<style>
  :root {
    --wrapper-size: 7rem;
    --aman-size: 4rem;
    --difference-of-sizes: calc(var(--wrapper-size) - var(--aman-size));
  }
  .head {
    z-index: 10;
    background-color: darkred;
    color: white;
    font-variant-caps: small-caps;

    height: var(--wrapper-size);
    position: sticky;
    top: calc(var(--difference-of-sizes) * -1);

    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 12px;
  }

  .head h1 {
    margin: 4px;
  }

  .head-inner {
    position: sticky;
    top: 0;
    height: var(--aman-size);
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  .head img {
    object-fit: cover;
    height: var(--aman-size);
  }
  main {
    height: 100vh;
    background: black;
  }

  .queues {
    display: flex;

    background: white;
    gap: 20px;

    overflow-x: auto;
    overflow-y: hidden;
  }
  h2 {
    color: white;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
</style>
