---
import Layout from "../layouts/Layout.astro";
import Calendar from "../components/Calendar.astro";
---

<Layout title="Баарыбиршоп Аманя">
  <header class="head">
    <h1>Барбер</h1>
    <img alt="фотка" width="90" src="aaa.png" />
    <h1>Аманя</h1>
  </header>
  <main>
    <div class="queues">
      <Calendar />
      <Calendar title="завтра" />
      <Calendar title="послезавтра" />
    </div>
  </main>
</Layout>

<style>
  .head {
    margin: 0;
    width: 100%;
    height: 10vh;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('wall.png');
    background-color: brown;

    /* background-color: linear-gradient(to right, #e965ad, #f15787, #ed525f, #df5737); */
  }

  .head img {
    object-fit: contain;
  }
  main {
    height: 100vh;
  }

  .queues {
    display: flex;

    background: white;
    gap: 20px;

    overflow-y: auto;
  }

  .amanya {
    object-fit: cover;
  }
  h2 {
    color: white;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
</style>
