---
import RandomPeep from "./RandomPeep";

const { timeSlot } = Astro.props;
---

<li class="time-span">
  <span class="time">{timeSlot.timeSpan[0][0]}</span>
  <RandomPeep size={120} rotation={-90} />
  <p class="name">{timeSlot.who}</p>
</li>

<style>
  .time-span {
    display: flex;
    align-items: center;
    justify-content: space-around;

    min-height: 60px;
    height: 70px;
    gap: 8px;
  }

  .time {
    font-size: medium;
    font-weight: bold;
  }

  .name {
    font-size: medium;
    font-variant-caps: petite-caps;
    transform: rotate(-90deg);
    width: 24px;
  }
</style>
